.box-1 {
    margin : 20px;
    padding : 30px;
    border : 1px solid black;
    border-radius : 5px;
    box-shadow: 10px 10px black;
}

.navMenu {
    display: flex;
    border: 1px solid black;
    list-style-type: none;  /* li태그 점 삭제*/
    margin: 0;
    padding: 0;
    justify-content: space-around; /* flex박스 요소 정렬*/
}

.navList {
    display: block; /* 한줄 다먹음 */
    padding: 8px;
    text-align: center;
    font-weight: bold;
}